* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.banner-recover {
    background: linear-gradient(
        to right,
        #09762A 0%, 
        #0DA93C 25%, 
        #0FC245 47%, 
        #10DC4F 82%
    );
    color: #fff;
    padding: 147px 20px;
}

.banner-recover h2 {
    font-size: 28px;
    line-height: 1.2;
    text-align: left;
    margin-left: 80px;
    margin-top: -80px;
}

.banner-recover span {
    font-family: "Aldrich", sans-serif;
    font-size: 42px;
    font-weight: normal;
    color:#fff;
}

.secao-recover {
    flex: 1;
    min-width: 300px;
    max-width: 400px;
    margin-left: 80px;
    margin-top: 20px;
}

.form-recover {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: #0B0A0A;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.);
    font-family: "Albert Sans", sans-serif;
}

.label-recover {
    color: #fff;
    font-weight: normal;
}

.input-recover {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Albert Sans", sans-serif;
}

.button-recover {
    background: linear-gradient(
        to bottom, 
        #09762A 0%, 
        #0DA93C 25%, 
        #0FC245 47%, 
        #10DC4F 82%
    );
    margin-top: 10px;
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Albert Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.info-paragraph {
    margin-top: 10px;
    color: #fff;
    font-size: 14px;
    font-family: "Albert Sans", sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

.section-img-recover {
    flex: 1;
    min-width: 300px;
    max-width: 400px;
    display: flex;
    justify-content: center;
    position: relative;
}

.container-img-recover img {
    position: absolute;
    /* bottom: 0; */
    top: -400px;
    left: 700px;
}