.app {
  margin: 0;
  padding: 0;
  width: 100%; /* Ocupa 100% da largura do contêiner */
  height: 100%; /* Opcional, define altura total */
  max-width: 100%; /* Impede que exceda o tamanho do contêiner */
  max-height: 100%; /* Impede que exceda o tamanho vertical */
  box-sizing: border-box; /* Inclui padding e borda no tamanho total */
  overflow: hidden;
}
.navbar {
  height: 0px;
  display: flex;
  float: right;
  gap: 20px;
  padding: 0px 20px;

  a {
    font-size: 18px;
    text-decoration: none;
    position: relative;
    top: -50px;
    text-decoration: none;
    color: white;
  }

  a:hover {
    text-decoration: underline;
  }
}