.bannerConfirm {
    min-width: 98.9vmax;
    background: linear-gradient(
        to right,
        #09762A 0%, 
        #0DA93C 25%, 
        #0FC245 47%, 
        #10DC4F 82%
    );
    padding: 108px 20px;
    }

.bannerConfirm h2 {
    font-size: 28px;
    line-height: 1.2;
    text-align: center;
    margin-top: -50px;
}

.span1Confirm,
.span2Confirm {
    font-family: "Aldrich", sans-serif;
    font-size: 35px;
    font-weight: normal;
    justify-items: center;
}

.span1Confirm {
    color: #fff;
}

.span2Confirm {
    color: rgba(0, 0, 0, 0.78);
}

.secaoConfirm {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 55vh;
    padding: 20px;
}

.formConfirm {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: #0B0A0A;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: "Albert Sans", sans-serif;
    width: 100%;
    max-width: 400px;
}

.labelConfirm {
    color: #fff;
    font-weight: normal;
}

.inputConfirm {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Albert Sans", sans-serif;
}

.buttonConfirm {
    background: linear-gradient(
        to bottom, 
        #09762A 0%, 
        #0DA93C 25%, 
        #0FC245 47%, 
        #10DC4F 82%
    );
    margin-top: 10px;
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Albert Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
}