/* Estilo do modal */
.ReactModal__Overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ReactModal__Content {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  /* Estilo do formulário */
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  legend, label {
    color: black
  }
  
  input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  input[type="text"]:focus {
    border-color: #007bff; /* Cor do contorno ao focar */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:disabled {
    background-color: #c0c0c0; /* Cor para botão desativado */
    cursor: not-allowed;
  }
  
  button:hover:not(:disabled) {
    background-color: #0056b3; /* Cor do botão ao passar o mouse */
  }
  
  p {
    font-size: 14px;
    margin-top: 10px;
  }
  
  p[style*="color: red"] {
    color: red;
  }
  
  p[style*="color: green"] {
    color: green;
  }
  