.bannerRecover {
  min-width: 98.9vmax;
  min-height: 100dvh;
  background: linear-gradient(
    to bottom,
    #1a3522 1%,
    #266138 10%,
    #22c759 40%,
    #22c759 60%,
    #1a3522 100%
  );
  color: #fff;
  display: flex;
  align-items: center;
  padding-top: 140px;
  padding-bottom: 110px;

  h2 {
    font-size: 28px;
    line-height: 1.2;
    text-align: left;
    margin-left: 80px;
    margin-top: -80px;
  }
  
  span {
    font-family: "Aldrich", sans-serif;
    font-size: 42px;
    font-weight: normal;
    color: #fff;
  }
}

.secaoRecover {
  flex: 1;
  min-width: 300px;
  max-width: 400px;
  margin-left: 80px;
  margin-top: 20px;
}

.formRecover {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: #0b0a0a;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: "Albert Sans", sans-serif;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.616);
}

.labelRecover {
  color: #fff;
  font-weight: normal;
}

.inputRecover {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Albert Sans", sans-serif;
}

.buttonRecover {
  background: linear-gradient(
    to bottom,
    #09762a 0%,
    #0da93c 25%,
    #0fc245 47%,
    #10dc4f 82%
  );
  margin-top: 10px;
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Albert Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.infoParagraph {
  margin-top: 10px;
  color: #fff;
  font-size: 14px;
  font-family: "Albert Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

.sectionImgRecover {
  flex: 1;
  min-width: 300px;
  max-width: 400px;
  display: flex;
  justify-content: center;
  position: relative;
}

.containerImgRecover img {
  position: absolute;
  /* bottom: 0; */
  top: -400px;
  left: 700px;
  filter: drop-shadow(13px 10px 1px rgba(0, 0, 0, 0.5));
}

@media (max-width: 1305px) {
  .containerImgRecover {
    display: none;
  }
  .bannerRecover {
    justify-content: center;
    
  }
  .secaoRecover {
    margin-left: 0px;
  }

  .conteudo h2 {
    text-align: center;
    margin-left: 0px;
  }
}
