.container {
  width: 100%;
}

.banner-softAi {
  background: linear-gradient(
    to right,
    #38b963 1%,
    #22c759 10%,
    #266138 40%,
    #1a3522 80%
  );
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image {
  width: 100%;
  height: auto;
  max-width: 675px;
}

.banner-content {
  padding: 35px;
  box-sizing: border-box;
}

.banner-content .headline {
  font-size: 50px;
  text-transform: uppercase;
  font-family: "Aldrich", sans-serif;
  line-height: 65px;
}

.banner-content .description {
  font-size: 22px;
  font-family: "Albert Sans", sans-serif;
  font-weight: bold;
  text-align: left;
  padding: 15px;
}
.banner-content h1 {
  font-family: "aldrich", sans-serif;
  font-weight: lighter;
  font-size: 50px;
  text-align: center;
}
.banner-content p {
  width: 100%;  
  word-wrap: break-word; 
}

@media (max-width: 1080px) {
  .banner-softAi {
    display: flex;
    flex-direction: column;
  }

  .hero-image {
    width: 100%;
    width: 675px;
    max-height: 493px;
  }

  .banner-content h1 {
    text-align: center;
  }
  .banner-content p {
    text-align: center;
  }
}

@media (max-width: 730px) {
  .hero-image {
    width: 100%;
    height: auto;
    max-width: 500px;
  }
  
}

