* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.popup-container {
    background: linear-gradient(
        to top,
        #09762A 0%, 
        #0DA93C 25%, 
        #0FC245 47%, 
        #10DC4F 82%
    );
    border-radius: 15px;
    padding: 20px;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.popup-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

.label {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
}

.input-container {
    display: flex;
    align-items: center;
    width: 400px;
}

input {
    padding: 10px;
    flex: 1;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
}

.edit-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    font-size: 16px;
    color: #fff;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.radio-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.radio-button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.radio-button:hover {
    background-color: #555;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.save-button,
.back-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.save-button {
    background-color: #333;
    color: #fff;
}

.back-button {
    background-color: #ddd;
    color: #333;
}